<?xml version="1.0"?>
<!-- Make the namespace of the robot-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rrr_arm">

    <!-- Gazebo ros2_control plugin -->
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find rrr_controller)/config/robot_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
